body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

hr {
    width: 500px;
}

#title {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
    background-color: rgb(52, 77, 10);
}

#instructions {
    background-color: aquamarine;
    color: brown;
    width: 50%;
    margin: auto;
}

#gameBoard {
    width: 350px;
    height: 420px;
    margin: 0 auto;
    margin-top: 3px;
    display: flex;
    flex-wrap: wrap;
}

.tile {
/* box */
    border: 2px solid grey;
    border-radius: 15%;
    width: 60px;
    height: 60px;
    margin: 2.5px;

/* text */
    color: black;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.correct {
    background-color: green;
    color: rgb(255, 255, 255);
    border-color: gray;
}

.present {
    background-color: rgb(235, 215, 83);
    color: rgb(255, 255, 255);
    border-color: grey;
}

.absent {
    background-color: rgb(74, 74, 74);
    color: rgb(255, 255, 255);
    border-color: grey;
}
