.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 1fr 1fr auto;
    grid-template-areas:
        "header header header header"
        "nav main main main"
        "section1 section1 section2 section3"
        "footer footer footer footer";
    gap: 1em;
    height: 95vh;
        
}
header {
    grid-area: header;
    color: black;
    background-color: lightslategray;
    padding: 1em;
    
}
nav {
    grid-area: nav;
    background-color: green;
    padding: 1em;
}
main {
    grid-area: main;
    background-color: lightcyan;
    padding: 1em;
}
section1 {
    grid-area: section1;
    background-color: lightcyan;
    padding: 1em;
}
content2 {
    grid-area: section2;
    background-color: lightcyan;
    padding: 1em;
}
content3 {
    grid-area: section3;
    background-color: lightcyan;
    padding: 1em;
}
footer {
    grid-area: footer;
    background-color: lightslategray;
    padding: 1em;
}